
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
    }

form {
  border: 3px solid #f1f1f1;
      }

.login{
  width: 20%;
  padding: 12px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.tipka {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;

}

.tipka:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: red;
}



.container {
  padding: 6px;
}

.register{
  width: 20%;
  padding: 12px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;  

}

.lista{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 50px;

}

.lista li {
  float: left;
  padding: 10px;
}

.lista li a{
   display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}
.lista li:not(.slika):hover{
  background-color:   #006400;
  border-radius: 8px;
  transition: all 500ms ease; 

}

li.logout {
float: right;
padding: 10px;
}

.image {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
}
.header{

  height: 60px;
  background-color: green;

}
  li.slika {
  float: right;
  padding: 0px;
  }
