body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
form {border: 3px solid #f1f1f1;}

.login{
  width: 20%;
  padding: 12px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.tipka {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;

}

.tipka:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: red;
}



.container {
  padding: 6px;
}

.register{
  width: 20%;
  padding: 12px 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;  

}
  
}